* marius.galm@digits.schwarz
* simon.stier@digits.schwarz
* florian.sandel@digits.schwarz
* Ondrej.Behavka@digits.schwarz
* Johannes.Moritz@digits.schwarz
* Andreas.Turtschan@digits.schwarz
* niklas.burchhardt@digits.schwarz
